<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="bodyfont">
    
    <p>Welcome to the other side of the page</p>
    <p>You are now authentified</p>

  </body>
</html>
